<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Hello, my name is <a target="_blank" href="https://github.com/Eddie-Garcia">Eddie</a> and I built Splurty. I am currently working part time so that I can dedicate more time to coding.
  </p>
  <br />
  <p>
    Learning all of this is completely new and therefore challenging. It combines a lot of my interests into one career though, which makes the journey to learn enjoyable.
  </p>
  <p>
    I have been teaching myself for a few months before finally deciding to take a course from an actual school. If you want to learn to code - start <a href="http://www.thefirehoseproject.com/">here</a>.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'eddie.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Eduardo Garcia</h2>
    <br />
    <p>
      Eduardo Garcia is a ....
    </p>
  </div>

  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />