@font-face {
    font-family: 'fira_sansbold_italic';
    src: url('/assets/firasans-bolditalic-webfont.eot');
    src: url('/assets/firasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/firasans-bolditalic-webfont.woff') format('woff'),
         url('/assets/firasans-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/firasans-bolditalic-webfont.svg#fira_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}